@import "tailwindcss";

@theme {
  --color-romantic-pink: #ff85a1;
  --color-romantic-purple: #a185ff;
  --color-soft-peach: #ffecd2;
  --color-soft-rose: #fcb69f;
  
  --font-romantic: "Dancing Script", cursive;
}

@layer base {
  body {
    @apply bg-gray-950 text-gray-100;
  }
}

@layer components {
  .dreamy-gradient {
    @apply bg-gradient-to-br from-gray-900 to-gray-800;
  }
  
  .romantic-text {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-400;
  }
}
