@import "tailwindcss";

@theme {
  --color-romantic-pink: #ff85a1;
  --color-romantic-purple: #a185ff;
  --color-soft-peach: #ffecd2;
  --color-soft-rose: #fcb69f;
  
  --font-romantic: "Dancing Script", cursive;
}

@layer base {
  body {
    @apply bg-rose-50 text-gray-800;
  }
}

@layer components {
  .dreamy-gradient {
    @apply bg-gradient-to-br from-soft-peach to-soft-rose;
  }
  
  .romantic-text {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-purple-600 to-pink-500;
  }
}
